a {
	color: #000;
	text-decoration: none;
}

#body {
	padding-left: 100px;
	position: relative;
	width: 21cm;
	height: 29.7cm;
	margin: 0 auto;
	font-size: 14px;
}

#body > div#print-btn {
	padding: 20px;
}

header {
	padding: 10px 0;
	margin-bottom: 20px;
	border-bottom: 2px solid #AAA;
}

#logo {
	float: left;
	margin-top: 8px;
}

#logo img {
	height: 90px;
}

#company {
	float: right;
	text-align: right;
}

#details {
	margin-bottom: 50px;
}

#client {
	padding-left: 6px;
	border-left: 6px solid #000;
	float: left;
}

#client .to {
	color: #000;
}

h2.name {
	font-size: 2em;
	font-weight: normal;
	margin: 0;
}

#invoice {
	float: right;
	text-align: right;
}

#invoice h1 {
	color: #000;
	font-size: 1.3em;
	line-height: 1em;
	font-weight: normal;
	margin: 0 0 10px 0;
}

#invoice .date {
	font-size: 1em;
	color: #000;
}

#thanks {
	font-size: 1.7em;
	margin-bottom: 50px;
}

#notices {
	padding-left: 6px;
	border-left: 6px solid #000;
}

#notices .notice {
	font-size: 1.2em;
	word-wrap: break-word;
}

table tbody tr td {
	line-height: 50px;
}

footer {
	color: #000;
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #AAAAAA;
	padding: 8px 0;
	text-align: center;
}

@media print {
	#body > div#print-btn {
		display: none;
	}

	#body > div#bill {
		padding-top: 100px;
	}
}

