.basic-detail .row {
	line-height: 2em;
}

.basic-detail .col-md-3 {
	font-weight: bold;
	padding-right: 0;
}

.fixed-panel {
	max-height: 150px;
	min-height: 150px;
	overflow-y: scroll;
}

.panel-table {
	padding: 0;
}

.panel-table table {
	margin-bottom: 0;
	font-size: inherit;
}

.ng-touched.ng-invalid {
	border-color: #e94a49;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(233, 74, 73, 0.6);
}

/*.ng-valid:focus {*/
	/*border-color: #008a01;*/
	/*outline: 0;*/
	/*box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(0, 138, 1, 0.6);*/
/*}*/
