<div class="container-fluid">
    <header_jumbotron [title]="'Delete Bill'"></header_jumbotron>

    <div class="alert alert-dismissible alert-success" *ngIf="billDeleted">
        <button type="button" class="close" data-dismiss="alert" style="outline: none">×</button>
        <strong>Updated!</strong> Bill Deleted Successfully.
    </div>

    <div class="alert alert-dismissible alert-danger" *ngIf="errorMsg && !billFound">
        <button type="button" class="close" data-dismiss="alert" style="outline: none">×</button>
        <strong>Error!</strong> Problem connecting to database! Contact Developer.
    </div>

    <div class="alert alert-dismissible alert-warning" *ngIf="errorMsg && billFound">
        <button type="button" class="close" data-dismiss="alert" style="outline: none">×</button>
        <strong>Warning!</strong> Bill not found.
    </div>
    <div class="well well-lg clearfix">
        <form class="form-horizontal col-md-8 col-md-offset-2" [formGroup]="billForm" (ngSubmit)="getBillDetail()"
              novalidate>
            <fieldset>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="inputBillIndex" class="control-label">Bill Invoice No.</label>
                        <input type="text" class="form-control" name="total_amount" formControlName="index"
                               id="inputBillIndex">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-raised" [disabled]="!billForm.valid">
                            <i class="glyphicon glyphicon-arrow-down"></i> Get Bill Detail
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="well well-md clearfix" *ngIf="bill">
        <div class="col-md-12">
            <div class="row">
                <div class="row">
                    <div class="col-md-6"><strong>Date:</strong> {{bill.date|date}}</div>
                    <div class="col-md-6"><strong>Amount:</strong> {{bill.total_amount}}</div>
                </div>
                <div class="row">
                    <div class="col-md-12"><strong>Description:</strong> {{bill.description}}</div>
                </div>
                <div class="col-md-12">
                    <button class="btn btn-raised btn-primary pull-right" (click)="deleteBill()">
                        <i class="glyphicon glyphicon-trash"></i> Delete Bill</button>
                </div>
            </div>
        </div>
    </div>
</div>
