<div class="container-fluid">
	<header_jumbotron [title]="'Print Old Receipt'"></header_jumbotron>

	<div class="alert alert-dismissible alert-danger" *ngIf="errorMsg && !paymentFound">
		<button type="button" class="close" data-dismiss="alert" style="outline: none">×</button>
		<strong>Error!</strong> Problem connecting to database! Contact Developer.
	</div>

	<div class="alert alert-dismissible alert-warning" *ngIf="errorMsg && paymentFound">
		<button type="button" class="close" data-dismiss="alert" style="outline: none">×</button>
		<strong>Warning!</strong> Payment Receipt not found.
	</div>
	<div class="well well-lg clearfix">
		<form class="form-horizontal col-md-8 col-md-offset-2" [formGroup]="paymentForm" (ngSubmit)="printOldPayment()" novalidate>
			<fieldset>
				<div class="form-group">
					<div class="col-md-12">
						<label for="inputPaymentIndex" class="control-label">Payment Receipt No.</label>
						<input type="text" class="form-control" name="total_amount" formControlName="payment_index" id="inputPaymentIndex">
					</div>
				</div>

				 <div class="form-group">
					<div class="col-md-12">
						<label >
                            <input type="checkbox" name="duplicate" formControlName="duplicate">  Duplicate
						</label>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<button type="submit" class="btn btn-primary btn-raised" [disabled]="!paymentForm.valid">
							<i class="glyphicon glyphicon-print"></i> Print Payment Receipt
						</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
